:root, div {
    font-family: Inter,system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 25px;
    line-height: 1.5;
    font-weight: 600;
    box-sizing: border-box;
    text-align: center;
  }

div{
  margin: 0 auto;
}